body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 5px;
  padding: 7%;
  height: 25%;
  width: 80%;
}

.block {
	margin-top: -4% !important;
	margin-left: -9% ;
}

.block li {
	list-style: none;
	margin-bottom: 1.8%;
	font-size: 11px;
	color:red;
}

.close-btn {
	float: right;
    margin-top: -30%;
    margin-right: -6%;
}